/* Tag selector to select the 'body' element */
body {
  /* Your code here! */
  background-color:aqua;

}

/* Tag selector to select all 'div' elements. We only have one 'div' in our HTML */
div {
  /* Your code here! */
  background-color: antiquewhite;
  padding: 4rem 4rem 2rem 2cqb;
  margin: 4rem;
  text-align: inherit;
  align-items: center;
}

/* ID selector to select the element with id 'main-header' */
#main-header {
  /* Your code here! */
  color: red;
  font-size:large;
  align-items: center;
  text-align: center;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions, h1 {
  /* Your code here! */
  font-style: italic;
 
}
footer {
  align-items: center;
  text-align: center;
  text-shadow: 1cm;
  animation: forwards 0.6s  linear fadein;
}